
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100vh;
}

.container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  margin-bottom: 1.1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: wrap;
}

li {
  padding: 1.3rem;
  list-style-type: none;
}

form input {
  margin: 1.1rem;
}

input[type="checkbox"] {
  margin-right: 0.4rem;

}

button {
  padding: 1.1rem;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
  border-radius: 1.1rem;
}
